body {
background-color : #fff;
margin : 0;
padding : 0;
}
header {
margin : 0;
padding : 0;
width : 100%;
background-color : #bde9ff;
border : #bde9ff solid 10px;
}
nav ul {
background-color : #bde9ff;
list-style-type : none;
text-align : right;
margin-right : 50px;
}
nav li {
display : inline-block;
padding-right : 15px;
}
nav a {
position : relative;
text-decoration : none;
}
a:link {
color : #1c1f9e;
text-decoration : none;
}
a:visited {
color : #1c1f9e;
}
a:hover {
color : #e69d0b;
}
nav ul ul {
position : absolute;
background-color : #bde9ff;
padding : 0;
text-align : left;
display : none;
}
nav ul ul li {
border : solid 1px;
display : block;
width : 8em;
padding-left : 1em;
margin-left : 0;
}
nav li:hover ul {
display : block;
}
img {
margin : 0;
width : 100%;
height : auto;
}
footer {
margin : 0;
width : 100%;
background-color : #bde9ff;
border : #bde9ff solid 10px;
text-align : center;
}
h2 {
margin-left : 10px;
}