body {
font-family: Arial, helvetica, sans-serif;
background-color : #fff;
margin : 0;
padding : 0;
}
header {
margin : 0;
padding : 0;
width : 100%;
background-color : #ffd9a3;
border : #ffd9a3 solid 10px;
font-family: Verdana, Arial, sans-serif;
}
nav ul {
background-color : #ffd9a3;
list-style-type : none;
text-align : right;
margin-right : 50px;
}
nav li {
display : inline-block;
padding-right : 15px;
}
nav a {
position : relative;
text-decoration : none;
}
a:link {
color : #2376ad;
text-decoration : none;
}
a:visited {
color : #0f3f91 ;
}
a:hover {
color : #e69d0b; transition: color .4s linear;
}

img {
margin : 0;
}
footer {
margin : 0;
width : 100%;
background-color : #ffd9a3;
border : #ffd9a3 solid 10px;
text-align : center;
}
dl {
margin: 25px;
}
dt{
font-weight: bold;
}
.clearL {
clear: left;
}
.clearR{
clear: right;
}
h2 {
margin: 20px;
}
p {
margin: 20px;
}
h4 {
margin: 25px;
}
.hero {
width : 100%;
height : auto;
}
.sky {
float: right;
width: 30%;
height: auto;
border: outset 5px;
}
.blaseball{
float: left;
width: 40%;
height: auto;
border: outset 5px;
}
.centered{
text-align: center;
}
.form {
background-color: #ffecd1;
border: 5px solid #ffecd1;
margin-right: 430px;
}
table, th { 
margin-left: auto;
margin-right: auto;
border: 1.5px solid #000
}
td {border: 1px solid #000;
text-align: center;
}
